{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
"Все новости"
{% endblock title %}

{% block content %}
    <h1>Общее количество новостей: {{ page_obj.paginator.count }} шт.</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <hr/>
    {% if perms.news.add_post %}
        <a href="{% url 'news_create' %}">Добавить новость</a>
    {% endif %}
    {% if news %}
        <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью публикации</td>
               {% if perms.news.change_post or perms.news.delete_post %}
               <td>Действия</td>
               {% endif %}
           </tr>

           {% for post in news%}
                  <tr>

                      <td>{{ post.title|censor }}</td>
                      <td>{{ post.date_post|date:'d M y' }}</td>
                      <td>{{ post.text_post|truncatewords:20|censor }}</td>
                      <td>
                            {% if perms.news.change_post %}
                            <a href="{% url 'news_edit' pk=post.id %}">Изменить</a>
                            {% endif %}
                            {% if perms.news.delete_post %}
                            <a href="{% url 'news_delete' post.id %}">Удалить</a>
                            {% endif %}
                      </td>

                  </tr>
           {% endfor %}

        </table>
   {% else %}

       <h2>Новости отсутствуют</h2>
   {% endif %}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{%url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}